<div class="recipe-boxes">
  <% @recipes.each do |recipe| %>
    <div class="recipe-box">
      <a href="<%=recipe.url%>" target="blank">
        <span class="image-wrapper">
          <span class="image" style="background-image: url(<%=recipe.image%>);"></span>
          <span class="time-icon">
            <%=raw cook_mins(recipe)%>
          </span>
        </span>
        <h3><%=recipe.name%></h3>
        <div class="ingredients"><%= simple_format recipe.ingredients%></div>
      </a>
    </div>
  <% end %>
</div>
<div class="more_recipes"><%= link_to_next_page @recipes, 'Load more Recipes', class: 'pure-button pure-button-primary', :params => {:query => query_value(@query)} %></div>