<%unless request.xhr?%>
<header class="site-header search-header">
  <div class="pure-g">
    <h2><%= link_to 'leancook', root_path, class: 'pure-menu-heading' %></h2>

    <div class="header-search-form">
      <%= form_tag search_path, method: 'get', class: 'pure-form', id: 'search_form' do %>
        <div class="text-field">
          <%= text_field_tag :query, query_value(@query), placeholder: 'Write your ingredients', class: 'pure-input' %>
        </div>
        <div class="submit-field">
          <%= button_tag 'Search', class: 'pure-input-3 pure-button pure-button-secondary' %>
        </div>
      <% end %>
    </div>
  </div><!-- .pure-g -->
</header>
<%end%>
<div id="content" class="site-content">
  <div class="pure-g main-content search-content">
    <h1 class="search-title">Recipes with "<%= query_value(@query) %>"</h1>
    <div class="recipe-boxes">
      <% @recipes.each do |recipe| %>
        <div class="recipe-box">
          <a href="<%=recipe.url%>" target="blank">
            <span class="image-wrapper">
              <span class="image" style="background-image: url(<%=recipe.image%>);"></span>
              <span class="time-icon">
                <span class="value">45</span>
                <span class="label">min</span>
              </span>
            </span>
            <h3><%=recipe.name%></h3>
            <div class="ingredients"><%= recipe.ingredients%></div>
          </a>
        </div>
      <% end %>
    </div><!-- .recipe-boxes -->
  </div>
</div>